.sign-up {
  display: flex;
  flex-direction: column;
  width: 380px;
  
  h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2.25rem;
    font-weight: bold;
    margin: 10px 0;
  }
}
